.DS_Store                                                                                                                                                   
*.o                                                                                                                                                         
*.dSYM/                                                                                                                                                     
cryption                                                                                                                                                    
encrypt_decrypt                                                                                                                                             
/test/*                                                                                                                                                     

.env
